.table {
    position: absolute;
    border: 5px solid rgb(121, 89, 77);
    width: 45vw;
    height: 85vh;
    border-spacing: 0;
    z-index: 1;
    border-radius: 4px;

}
#hide{
    display: none;
}

.container {
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-image: url('https://www.ubuy.vn/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNjFGOFh3cEZaQ0wuX0FDX1NMMTAwMF8uanBn.jpg');
    background-size:  contain;
}

.head{
    height: 30px;
    width: 10px;
}

.sides{
    width: 30px;
}

th{
    background: rgb(121, 89, 77);
    color: white;
    
}
.black {
    background: rgb(113, 67, 45);
}

td {
    background: rgb(225, 194, 158);
}