.board{
    width: 800px;
    height: 800px;
    border-spacing: 1px;
}
.black{
    background: rgb(63, 63, 63);
    height: 105px;
    width: 105px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.white{
    background: rgb(177, 177, 177);
    height: 105px;
    width: 105px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
img{
    width: 50px;
    height:50px;
    margin-left: 25px;
    padding: 0px;
}
.active{
    background: rgb(4, 113, 133);
}
.path{
    border-radius: 20px;
    background: rgb(11, 145, 168);
}
.kill{
    background: rgb(156, 0, 0);
    border-radius: 20px;
}